{% extends 'login/layout.html.twig' %}

{% block body %}
    {% set referer = app.request.headers.get('referer') ?: app.session.get('_security.main.target_path') | default('/') %}

    <div class="ui middle aligned center aligned grid">
        <div class="column">
                <div class="ui inverted segment">
                    <img src="{{ asset('assets/images/logoasl-white.png') }}" alt="Logo del Aula de Software Libre" class="ui centered small image" id="logo">
                    <h2 class="ui header">
                        Iniciar sesión en
                        <div class="ui sub header">TOC TOC BOT</div>
                    </h2>
                    <div class="ui hidden divider"></div>

                    <div class="ui huge vertical buttons">
                        <script async src="https://telegram.org/js/telegram-widget.js?15"
                                data-telegram-login="{{ botUsername }}"
                                data-size="large"
                                data-userpic="false"
                                data-auth-url="{{ url('connect_telegram_check') }}"
                                data-request-access="write"
                        >
                        </script>
                    </div>

                    <div class="ui divider" style="margin: 40px 0"></div>
                </div>

                {% block error %}
                    {% if error is defined and error %}
                        <div class="ui negative icon message">
                            <i class="ban icon"></i>
                            <div class="content">
                                <div class="header">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                <p style="text-align: left;">Esta aplicación require que sea de dado de alta previamente, contacte con el administrador de la aplicación.</p>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
        </div>
    </div>
{% endblock body %}
